li {
  list-style-type: none;
  display: inline;
  padding: 25px;
  top: 0;
  right: 0;
}
#header, #nav-bar {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
#nav-bar {
  position: fixed;
  right: 10%;
}

main {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffe;
  justify-content: left;
}
fieldset {
  display: inline;
}
video {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-text {
  display: inline;
  padding: 10px;
}
footer {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
#header-features {
  position: relative;
  text-align: left;
  padding-left: 290px;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 3px;
}
 #submit {
  background-color: yellow;
  font-size: 16px;
}

.p-1 {
  padding-left: 12px;
  margin-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
}
.p-1-1 {
  position: relative;
  margin-left: -120px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
}
section {
  padding-bottom: 50px;
  padding-top: 50px;
}
@media only screen and (max-width: 720px) {
  
}
